.App{
  background-color: rgb(226, 229, 237);
  min-height: 100vh;
}
.card{
  background-color: aliceblue;
  border-radius: 6px;
  flex-direction: column;
  padding-left:.6rem ;
  color: #00008B; 
  flex:1;
}
section{
  border-radius: 1.5rem;
}
li{
  list-style: none;
}
.cardContainer{
  display: flex;
  align-items: center;
  gap:1rem;
  padding: 1rem;
  background-color: white;
}
.searchInput{
  width: 84%;
}
.navBar{
  display: flex;
  justify-content: space-between;
  padding: .7rem 3rem;
}
.autocomplete{
  width: 50%;
  border: none;
  border-radius: .3rem;
}
.grey{
  color:grey;
  margin:2px;
}
.active{
  color:#00008B;
  border-bottom: #00008B solid 3px;
  font-weight: 600;
  margin:2px;
}
.flowDiv{
  display: flex;
  margin: 2rem;
}
aside{flex-basis: 20%;
}
main{
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  gap: 2rem;
}



.btn{
  margin: 2px;
  border-radius: .4rem;
  background-color: white;
  border: none;
  padding: .5rem;
}
.icon{
  color:grey;
}
.dataDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:2rem;
}
.dataDiv div{
  background-color: white;
  padding: .6rem;
  border-radius: 1rem;
}

.loading{
  width: 10px;
  height: 10px;
  background-image: radial-gradient(rgb(121, 160, 222),blue);
  border-radius: 50%;
  animation: spin 1s ease-in infinite;
}
tr th, tr td{
  padding: .25rem 1rem;
  text-align: left;
}
tbody tr:nth-child(odd){
  background-color: aliceblue;
}
.newsDiv{
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
}
.newsLink{
  
  text-decoration: none;
  color:black;
  display: flex;
}
.cardLink{
  flex-basis: 18%;
  background-color: aliceblue;
  border-radius:6px ;
  padding:.5rem;
  text-align: center;
}

.active {
  background: lightgray;
}

.newsInnerDiv{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 2rem;
}

pre{
  color: #12129b;
  border-radius: 1rem;
  background-color: aliceblue;
  color: #00008B;
  width: fit-content;
}
@keyframes spin {
  10%{
    transform: rotate(90deg) ;}
100%{
  transform:rotate(360)
}
}
