.app{
  background-color: aliceblue;
}
.card{
  background-color: aliceblue;
  border-radius: 6px;
  width:22%;
  color: #00008B;
  
}
.cardContainer{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap:1rem;
  padding: 1rem;
  background-color: white;
}
.navBar{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-inline-start: 18px 2rem;
  background-color: aqua;
}
.grey{
  color:grey
}
.active{
  color:#00008B;
  border-bottom: green;
}



.btn{
  box-shadow: rebeccapurple, blue, 0.5;
  margin: 2px;
}